$family--default: Avenir, Helvetica, Arial, sans-serif;


$color--primary: #66538A;
$color--positive: #4fd161;
$color--negative: #f04265;
$color--text-invert: #ffffff;
$color--text: #000000;

$gutter: 30px;



$font-weight--medium: 500;

